NEXT_PUBLIC_SUPABASE_URL=https://hyboqnvgxdvmbepjwpql.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh5Ym9xbnZneGR2bWJlcGp3cHFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1NDc3ODIsImV4cCI6MjA5OTEyMzc4Mn0.KUMcTtXQkGsippKAtCq1aeXunEDtk0pRROZ_qHV7U4U
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh5Ym9xbnZneGR2bWJlcGp3cHFsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzU0Nzc4MiwiZXhwIjoyMDk5MTIzNzgyfQ.KLywBMIN7CRHs9rKedF8OvE_-DwEqSJbS3F_A4FLb8c
ADMIN_SECRET_KEY=Kley.1234#
